**Задача:** соскрейпить актуальные коды ОКПД2

**Источник:** http://base.garant.ru/70650730/

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
#собираем с первой страницы url-ы всех разделов

responce = requests.get('http://base.garant.ru/70650730/')
responce

In [20]:
main_page = bs(responce.content, 'html.parser')
links_list = []
for link in main_page.find_all('li')[5:]:
  links_list.append([link.a['href'], link.a.get_text()[7:8], link.a.get_text()[10:]])

In [ ]:
links_list = pd.DataFrame(links_list, columns=['href', 'section_id', 'section_name'])
links_list

In [47]:
for i in links_list.iloc:
  print(i.href)

/70650730/baf8d0298b9a3923e3794eecbe3d1996/
/70650730/da0ca740e319b67eff630b4065586e13/
/70650730/1a021ee51cf500830e99510141278135/
/70650730/510567bc799b499f450a4638e59966a6/
/70650730/b22e312de8e99833fd98f6f7cc7d3e5e/
/70650730/0b4603a6b6af02d1f24e6247a9364e19/
/70650730/c02ed83eeec4271d71b8a342b4cd7a76/
/70650730/48d8530498621e8315b6e22c59e832d0/
/70650730/95fa77a9ae133f491225ac6c30bb9ebf/
/70650730/d866c9989c75bef029b67e7a33698205/
/70650730/5403cdaba4adcc1fa9fb4eed9b040c90/
/70650730/24f1ae75063482537b7ee5fc0af1565e/
/70650730/1b55d7aed16d41d8f6f6bd1ff00b7bb6/
/70650730/5feb00d2dd696fcf8716c5ce9eeff685/
/70650730/f3e743be61d4cc15512dc20a85de5554/
/70650730/230ad4519fc17821b0f9ac804f8ef470/
/70650730/97c0401ae090631251b74514761b15d3/
/70650730/0e220c6c3fc68ebcbb77ea335fb225be/
/70650730/10adb5aef5b304a2b37f4b5bc9d3adda/
/70650730/993c3a2906ab5bd456be72d3a536e841/
/70650730/d6753ba117a828297c06db1c737e9f11/

In [27]:
link = links_list['href'][0]
responce = requests.get(f'http://base.garant.ru{link}')
responce

In [40]:
section_page = bs(responce.content, 'html.parser')
table  = section_page.find('table')
tds = table.find_all('td')
ids = []
names = []
for i in tds[::2]:
  ids.append(i.p.get_text())
for i in tds[1::2]:
  names.append(i.p.get_text())

In [61]:
all_sections = []
for section in links_list.iloc:
  print(section.href)
  responce = requests.get(f'http://base.garant.ru{section.href}')
  print(responce)
  section_page = bs(responce.content, 'html.parser')
  table  = section_page.find('table')
  tds = table.find_all('td')
  ids = []
  names = []
  for i in tds[::2]:
    ids.append(i.p.get_text())
  for i in tds[1::2]:
    names.append(i.p.get_text())
  for j in range(len(ids)):
    all_sections.append([section.section_id, section.section_name, ids[j], names[j]])

/70650730/baf8d0298b9a3923e3794eecbe3d1996/
<Response [200]>
/70650730/da0ca740e319b67eff630b4065586e13/
<Response [200]>
/70650730/1a021ee51cf500830e99510141278135/
<Response [200]>
/70650730/510567bc799b499f450a4638e59966a6/
<Response [200]>
/70650730/b22e312de8e99833fd98f6f7cc7d3e5e/
<Response [200]>
/70650730/0b4603a6b6af02d1f24e6247a9364e19/
<Response [200]>
/70650730/c02ed83eeec4271d71b8a342b4cd7a76/
<Response [200]>
/70650730/48d8530498621e8315b6e22c59e832d0/
<Response [200]>
/70650730/95fa77a9ae133f491225ac6c30bb9ebf/
<Response [200]>
/70650730/d866c9989c75bef029b67e7a33698205/
<Response [200]>
/70650730/5403cdaba4adcc1fa9fb4eed9b040c90/
<Response [200]>
/70650730/24f1ae75063482537b7ee5fc0af1565e/
<Response [200]>
/70650730/1b55d7aed16d41d8f6f6bd1ff00b7bb6/
<Response [200]>
/70650730/5feb00d2dd696fcf8716c5ce9eeff685/
<Response [200]>
/70650730/f3e743be61d4cc15512dc20a85de5554/
<Response [200]>
/70650730/230ad4519fc17821b0f9ac804f8ef470/
<Response [200]>
/70650730/97c0401ae090631251b74514761b15d3/
<Response [200]>
/70650730/0e220c6c3fc68ebcbb77ea335fb225be/
<Response [200]>
/70650730/10adb5aef5b304a2b37f4b5bc9d3adda/
<Response [200]>
/70650730/993c3a2906ab5bd456be72d3a536e841/
<Response [200]>
/70650730/d6753ba117a828297c06db1c737e9f11/
<Response [200]>

In [62]:
all_sections = pd.DataFrame(all_sections, columns=['section_id', 'section_name', 'group_id', 'group_name'])
all_sections

     section_id  ...                                         group_name
0             A  ...     Продукция и услуги сельского хозяйства и охоты
1             A  ...                                Культуры однолетние
2             A  ...  Культуры зерновые (кроме риса), зернобобовые, ...
3             A  ...                                            Пшеница
4             A  ...                                    Пшеница твердая
...         ...  ...                                                ...
4367          U  ...  Услуги, предоставляемые экстерриториальными ор...
4368          U  ...  Услуги, предоставляемые экстерриториальными ор...
4369          U  ...  Услуги, предоставляемые экстерриториальными ор...
4370          U  ...  Услуги, предоставляемые экстерриториальными ор...
4371          U  ...  Услуги, предоставляемые экстерриториальными ор...

[4372 rows x 4 columns]

In [64]:
all_sections.to_csv('OKPD2_table.csv')